<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<script
    src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.txtChange = function() {

        }
    });
</script>
</head>
<body>
    <p th:text="${hello}"></p>
    <!-- SEARCH TABLE -->
    <form action="http://localhost:8080/home" method="post">
        <p>
            Search Condition: <input type="text" name="message"/>&nbsp;&nbsp;<input type="submit" value="Search" />
        </p>
    </form>

    <br />
    <table border="1" width="400">
        <tr>
            <th colspan="3" align="center">Messages</th>
        </tr>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
        </tr>
        <tr th:each="m,index: ${pos}">
            <td th:text="${index.index}+1"></td>
            <td th:text="${m.name}"></td>
            <td th:text="${m.address}"></td>
        </tr>
    </table>
    <br />
</body>

</html>